.main {
    background: linear-gradient(to bottom right,  #FBFBF2, #003459);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    height: 15%;
    width: 100%;
    justify-content: space-evenly;
    background: #006cb9;
    overflow: auto;
    margin-bottom: 15px;
}

.project-list {
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    height: 80%;
    width: 80%;
    overflow: auto;
}

.project-container {
    height: 75px;
    width: 90%;
    background: #006cb9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
    border-radius: 4px;
    box-shadow: 7px 7px 13px rgba(0, 0, 0, 0.336);
    padding-left: 20px;
    padding-right: 20px;
}

.project-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-button{
    -moz-box-shadow: 3px 4px 0px 0px #899599;
	-webkit-box-shadow: 3px 4px 0px 0px #899599;
	box-shadow: 3px 4px 0px 0px #899599;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
	background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
    height: 30px;
}

.homepage-button:active {
    position:relative;
    top:1px;
}
.homepage-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
	background-color:#bab1ba;
}

.delete-button-container{
    display: flex;
    align-items: center;
}

.project-creator{
    display: flex;
    font-size: 30px;
    align-items: center;
    color: #003459;

}

.project-id{
    display: flex;
    align-items: center;
    color: #003459;
    font-size: 30px;
}

.project-link:link{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 40px;
    /* width: 150px; */
    border-radius: 15px;
    text-decoration: none;
    color: #003459;
    border: 1px solid #003459;
    background:#FBFBF2;
}
.project-link:visited {
    color: #003459;
    text-decoration: none;
}
.project-link:hover {
    text-decoration: underline;
    background: #006cb9;
}
.project-link:visited :hover {
    text-decoration: underline;
    background: #006cb9;
}

.project-card-title{
    margin-left: 20px;
    margin-right:20px;
}