.main{
    background-color: grey;
    display: flex;
}

.header{
    display: flex;
    height: 15%;
    width: 90%;
}

.header-button {
    margin: 0px 5px 0px 5px;
    border-radius: 4px;
}

.header-title {
    font-size: 25px;
}

.tasks-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 30%;
}

.task {
    background-color: aliceblue;
    height: 70%;
    width:100%;
    margin: 5px 0px 5px 0px;
}

.goal-card {
    height: 20%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.goals-container {
    display: flex;
    height: calc(100%-15%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.note {
    background-color: aliceblue;
}

.notes-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    width: 30%;
}

.note-map{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.note-button{
    font-size: 10px;
}

.goal-card-first-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}
