.main{
    background-color: grey;
    display: flex;
}

.header{
    display: flex;
}

.header-button {
    margin: 0px 5px 0px 5px;
    border-radius: 4px;
}

.header-title {
    font-size: 25px;
}

.tasks-container {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.task {
    background-color: aliceblue;
    height: 30px;
    width:200px;
    margin: 5px 0px 5px 0px;
}

.goal-card {
    height: 20%;
    width: 80%;
}